name: Auto Update

on:
  push:
  issue_comment:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: GetDataRepo
        uses: actions/checkout@v3
        with:
          repository: Arkfans/ArknightsName
          path: ArknightsName
          token: ${{ secrets.PAT }}
      
      - name: GetGamedata
        uses: actions/checkout@v3
        with:
          repository: Kengxxiao/ArknightsGameData
          path: gamedata
        
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: x64
      
      - name: Update
        id: update
        run: |
          python update.py
          python show_tables.py
      
      - name: Commit Changes
        run: |
          python commit.py
          cd ArknightsName
          git push
        env:
          version: ${{ setps.update.outputs.version}}
        if: setps.update.outputs.update == 1
